html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-y: auto;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #abd1f3;
    background-image: url('./images/project.png');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: 95% 100%;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #abd1f3;
    margin: 10px;
}

#menuButton {
    background: none;
    border: none;
    font-size: 12px;
    color: #063258;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Poppins';
}

#contact a {
    text-decoration: none;
    background: none;
    border: none;
    font-size: 12px;
    color: #063258;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Poppins';
}

#dropdown {
    display: flex;
    align-items: center;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #346fa3;
    min-width: 160px;
    z-index: 1;
    font-family: 'Poppins';
}

.dropdown-content a {
    font-size: 12px;
    color: rgb(255, 255, 255);
    padding: 12px 18px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #3d7bb1;
}

#dropdown:hover .dropdown-content {
    display: block;
}

#dropdown:hover #menuButton {
    color: #3d7bb1;
}

.name-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
    width: 60%;
}

#header-name {
    font-family: 'Abril Fatface';
    margin-bottom: -10px;
    font-size: 36px;
}

#title-name {
    font-family: 'Abril Fatface';
    font-size: 30px;
    margin-bottom: 5px;
}

.underline {
    width: 100%;
    height: 4px;
    background-color: #000000;
    margin-bottom: 10px;
}

.project-container {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px 0;
}

.openbank-container {
    flex: 1;
    text-align: center;
}

#projects-list {
    display: flex;
    padding-left: 10%;
    width: 75%;
    margin-top: 0px;
    gap: 20px;
}

.slideshow-wrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.slideshow1 {
    display: none;
    width: 100%;
    border-radius: 8px;
}

#projects1 {
    list-style-type: none;
    color: #000000;
    max-width: 80%;
    line-height: 1;
    font-size: 20px;
    font-family: 'Poppins';
}

#projects1 a {
    text-decoration: none;
    color: #000000;
}

.display-left {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}

.display-right {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}

.display-left:hover,
.display-right:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#openbank-about {
    font-family: 'Poppins';
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.6;
    color: #000000;
    max-width: 600px;
    text-align: left;
    margin: auto 0;
}

#openbank-git {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
}

#openbank-git img {
    vertical-align: middle;
}

@media (max-width: 1024px) {
    .header-wrapper {
        flex-direction: flex;
        align-items: center;
        margin: 5px;
    }

    .name-section {
        width: 90%;
        padding-left: 5%;
        text-align: center;
    }

    #header-name, #title-name {
        font-size: 30px;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .slideshow-wrapper {
        max-width: 100%;
        width: 90%;
    }

    #openbank-about {
        font-size: 14px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    body {
        background-image: none;
    }

    .header-wrapper {
        padding: 5px;
    }

    .name-section {
        width: 90%;
        text-align: center;
    }

    #header-name, #title-name {
        font-size: 30px;
    }

    .project-container {
        gap: 10px;
        justify-content: center;
        text-align: center;
    }

    .slideshow-wrapper {
        width: 100%;
        max-width: 90%;
    }

    #openbank-about {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .header-wrapper {
        padding: 5px;
        text-align: center;
    }

    .name-section {
        width: 95%;
        padding-left: 5%;
        text-align: center;
    }

    #header-name, #title-name {
        font-size: 24px;
    }

    .project-container {
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .slideshow-wrapper {
        width: 100%;
        max-width: 90%;
    }

    #openbank-about {
        font-size: 10px;
        line-height: 1.4;
        text-align: center;
    }
}