body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5cfde;
}

.thank-you {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-family: 'Poppins';
}

.thank-you p {
    font-size: 1.5rem;
    margin: 0;
}

.thank-you a {
    font-size: 1rem;
    color: #333;
    text-decoration: none;
}

.thank-you a:hover {
    text-decoration: underline;
}


@media (max-width: 1024px) {
    .thank-you p {
        font-size: 1.25rem;
    }

    .thank-you a {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .thank-you p {
        font-size: 1.1rem;
    }

    .thank-you a {
        font-size: 0.85rem;
    }

    .thank-you {
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .thank-you p {
        font-size: 1rem;
    }

    .thank-you a {
        font-size: 0.8rem;
    }

    .thank-you {
        gap: 10px;
    }
}
