html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-y: auto;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #dec2f5;
    background-image: url('./images/games.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dec2f5;
    margin: 10px;
}

#menuButton {
    background: none;
    border: none;
    font-size: 12px;
    color: #360953e0;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Poppins';
}

#contact a {
    text-decoration: none;
    background: none;
    border: none;
    font-size: 12px;
    color: #360953e0;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Poppins';
}

#dropdown {
    display: flex;
    align-items: center;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #874dac;
    min-width: 160px;
    z-index: 1;
    font-family: 'Poppins';
}

.dropdown-content a {
    font-size: 12px;
    color: rgb(255, 255, 255);
    padding: 12px 18px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Poppins';
    display: block;
}

.dropdown-content a:hover {
    background-color: #9655be;
}

#dropdown:hover .dropdown-content {
    display: block;
}

#dropdown:hover #menuButton {
    color: #9655be;
}

.name-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
    width: 60%;
}

#header-name {
    font-family: 'Abril Fatface';
    margin-bottom: -10px;
    font-size: 36px;
}

#title-name {
    font-family: 'Abril Fatface';
    font-size: 30px;
    margin-bottom: 5px;
}

.underline {
    width: 100%;
    height: 4px;
    background-color: #000000;
    margin-bottom: 10px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    width: 75%;
    margin-top: 0px;
    gap: 20px;
}

.first-section {
    color: #000000;
    max-width: 80%;
    font-size: 24px;
    margin-bottom: 0;
    margin-top: -20px;
    font-family: 'Poppins';
    font-weight: 550;
}

.second-section {
    color: #000000;
    max-width: 80%;
    font-size: 24px;
    margin-top: -40px;
    font-family: 'Poppins';
    font-weight: 550;
}

.row {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 0 auto;
    width: 75%;
    padding-right: 5%;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .column img {
    width: 120px;
    height: auto;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .column img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  

.container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    flex-direction: column;
  }
  

  .container img {
    max-width: 40%;
    height: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
  }
  
  .closebtn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: red;
  }
  

  #imgtext {
    color: white;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
  }
  
footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}


@media (max-width: 1024px) {
    
    .header-wrapper {
        flex-direction: flex;
        align-items: center;
        margin: 5px;
    }

    .name-section {
        width: 90%;
        padding-left: 5%;
        text-align: center;
    }

    #header-name, #title-name {
        font-size: 30px;
    }

    .text-wrapper {
        flex-direction: column;
        padding-left: 5%;
        width: 90%;
    }

    .second-section {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    body {
        background-image: none;
    }
    .text-wrapper {
        flex-direction: column;
        padding-left: 5%;
    }

    .dropdown-content {
        min-width: 120px;
    }

    .dropdown-content a {
        font-size: 10px;
    }

    .second-section {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .header-wrapper {
        padding: 5px;
    }

    #header-name, #title-name {
        font-size: 24px;
    }

    .first-section {
        font-size: 14px;
    }

    .second-section {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .row {
      width: 90%;
      padding-right: 0;
    }
  
    .column img {
      max-width: 100px;
    }
  
    .container img {
      max-width: 70%;
    }
  }
  

  @media (max-width: 768px) {
    .row {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .column img {
      max-width: 80px;
    }
  
    .container img {
      max-width: 80%;
    }
  }
  

  @media (max-width: 480px) {
    .header-wrapper {
      padding: 5px;
    }
  
    #header-name, #title-name {
      font-size: 24px;
    }
  
    .row {
      width: 100%;
      padding-right: 0;
    }
  
    .column img {
      max-width: 60px;
    }
  
    .container img {
      max-width: 90%;
    }
  }